nav{
    background-color: $secundary;
    .mobile-icons{
        display: none;
        justify-content: space-between;
        padding: 20px 0;
        .logo{
            display: block;
            img{
                display: block;
                width: 100%;
                max-width: 200px;
                margin: 0;
            }
        }
        .menu-icon{
            color: $white;
            font-size: 3rem;
        }
        @include mq (tablet, max){
            display: flex;
        }
    }
    .menu{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0;
        background-color: $secundary;
        ul{
            display: flex;
            margin: 0;
            li{
                list-style: none;
                padding: 10px 20px;
                a{
                    color: $white;
                    font-size: 1.5rem;
                    font-weight: 600;
                    &:hover, &:active, &:focus{
                        text-decoration: none;
                        color: $primary;
                        transition:all ease 0.5s;
                    }
                    @include mq(tablet, max){
                        &:hover{
                            color: $secundary;
                        }
                    }
                }
                &:first-child{
                    position: relative;
                    &:after{
                        display: block;
                        content: "";
                        background-color: $white;
                        width: 3px;
                        height: 25px;
                        position: absolute;
                        top: 8px;
                        right: 0;
                        @include mq(tablet, max){
                            display: none;
                        }
                    }
                }
                &.nav-item{
                    position: relative;
                    &:after{
                        display: block;
                        content: "";
                        background-color: $white;
                        width: 3px;
                        height: 25px;
                        position: absolute;
                        top: 8px;
                        right: 0;
                        @include mq(tablet, max){
                            display: none;
                        }
                    }
                    
                }
                &.house-icon{
                    @include mq(tablet, max){
                        display: none;
                    }
                }
            }
            @include mq(tablet, max){
                flex-direction: column;
                padding: 0;
            }
        }
        .icons{
            display: flex;
            .help-icon, .search-icon{
                margin: 5px 5px 5px 15px;
                span{
                    display: block;
                    background-color: $white;
                    @include border-radius(50%);
                    padding: 5px 8px;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    i{
                        color: $secundary;
                    }
                    .fa-times{
                        font-size: 2rem;
                        color: $secundary;
                    }
                    .fa-question{
                        padding: 3px 2px;
                    }
                    // &:hover{
                    //     background-color: $primary;
                    //     transition:all ease 0.5s;
                    // }
                }
            }
            @include mq(tablet, max){
                display: none;
                //justify-content: space-around;
            }
        }
        @include mq(tablet, max){
            background-color: $primary;
            width: 100%;
            min-height: calc(100vh - 89px);
            max-height: calc(100vh - 89px);
            position: fixed;
            top: 80px;
            right: -100%;
            transition: all 0.3s ease-in-out;
            padding: 0px 30px 30px;
            z-index: 10;
            flex-direction: column-reverse;
            justify-content: flex-end;
            &.active{
                overflow-y: auto;
                right: 0;
            }
        }
    }
    @include mq(tablet, max){
        background-color: $primary;
    }
}