//Color palette
$primary: #105d71;
$secundary: #98c051;
$third: #12b0a6;  
$light-green: #0fb2a2;
$dark-green: #2f9c7c;
$light-orange: #f6972b;
$dark-orange: #f17145;
$white: #ffffff;
$black: #000000;
$text: #8f9091;
$gray: #74787a;